HTML, body {
    font-size: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 100%;
}

#outer-div {
    width: 100%;
    height: 100%;
}

h1.rokkitt {
    font-family: "Rokkitt", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: xx-large;
    font-style: normal;
}

h2.rokkitt {
    font-family: "Rokkitt", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 4rem;
    margin-top: 0.5rem;
    font-style: normal;
}

h3.rokkitt {
    margin: 0rem;
    font-family: "Rokkitt", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 2rem;
    font-style: normal;
}

#page-title {
    margin-top: 2rem;
    margin-left: 2rem;
    display: inline-block;
}

.section-title {
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.dot {
    height: 0.5rem;
    width: 0.5rem;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

#content {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#navigation {
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 10rem;
    row-gap: 0.2rem;
    align-self: flex-start;
}

#navigation button {
    padding-top: 0.4rem;
    background-color: white;
    color: black;
    text-align: right;
    border: none;
    font-weight: thin;
    font-size: large;
}

#navigation button:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

/* #navigation button.selected {
    text-decoration: underline;
    text-decoration-thickness: 2px;
} */

#main-content {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 4rem;
}

img {
    max-width: 80%;
    height: auto;
}

.comic-page {
    max-width: 40%;
    height: auto;
}

.small {
    max-width: 60%;
    height: auto;
}

.portrait {
    max-width: 30%;
    height: auto;
}

.vertical-line {
    margin-top: 7rem;
    border-left: thin solid black;
    width: 0.2rem;
    margin-left: 1rem;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.bold {
    font-weight: bold;
}